{% extends "base.html" %}
{% block mainbody %}
    <!-- style -->
    <style>
        /* swiper的样式 */
        .swiper-container {
            width: 100%;
            margin-top: 50px;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: black;
        }
        .swiper-slide img {
            width: 100%;
            height: 350px;
        }
        @media screen and (max-width: 768px) {
            .swiper-slide img {
                width: 100%;
                height: 150px;
            }
        }

        .small_title {
            margin-top: 10px;
        }

        /* 小标题被点击之后的颜色 */
        .small_title_active {
            color: #0e90d2 !important;
        }

        /* 小标题的a标签悬浮的样式 */
        .am-accordion-content:hover {
            color: #ccc;
        }

        /* navigate menu style */
        /* 转成手形图标 */
        .leftMenu .panel-heading {
            font-size: 14px;
            padding-left: 20px;
            height: 36px;
            line-height: 36px;
            color: white;
            position: relative;
{#            cursor: pointer;#}
        }
        .leftMenu .panel-heading span {
            position: absolute;
            right: 10px;
            top: 12px;
        }
    </style>

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                <img data-src="{{ STATIC_URL }}images/industry_solutions/industry_solutions_title.jpg" class="swiper-lazy">
                <!-- Preloader image -->
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Navigation -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    <!-- 内容盒子 -->
    <div class="container" style="max-width: 1200px;">
        <div class="row">
            <!-- 侧边栏小导航条 -->
            <div class="col-lg-2" style="padding: 0; margin: 0;">
                <!-- panel group is 手风琴 equal to 折叠框 -->
                <div class="panel-group table-responsive" role="tablist">
                    <!-- panel 1 -->
                    <div class="panel panel-primary leftMenu" style="padding: 0; margin-top: 0; margin-left: 0;">
                        <!-- 利用data-target指定要折叠的分组列表 -->
                        <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                            <h4 class="panel-title">
                                分组1
                                <span class="glyphicon glyphicon-chevron-up right"></span>
                            </h4>
                        </div>
                        <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                        <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#">分组项1-1</a>
                                </li>
                                <li class="list-group-item">
                                    分组项1-2
                                </li>
                                <li class="list-group-item">
                                    分组项1-3
                                </li>
                                <li class="list-group-item">
                                    分组项1-4
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--panel 1 end-->

                    <!-- panel 2 -->
                    <div class="panel panel-primary leftMenu" style="padding: 0; margin-top: 0; margin-left: 0;">
                        <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                            <h4 class="panel-title">
                                分组2
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span>2-2</span>
                                </li>
                                <li class="list-group-item">
                                    <span>2-2</span>
                                </li>
                                <li class="list-group-item">
                                    <span>2-3</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- penel 2 end -->
                </div>
            </div>

            <!-- 右边内容大板块 -->
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" style="height: 1000px; padding: 0;">
                <!-- 显示当前位置和解决方案的介绍 -->
                <div>
                    <!-- 显示当前位置 -->
                    <p style="background: #dadada; height: 50px; line-height: 50px; padding-left: 20px; border-bottom: 1px solid gray; margin-bottom: 0"><span style="color: black; font-weight: bold;">当前位置：</span><a href="#" style="color: black;">首页</a> » <a href="#" style="color: black;">行业解决方案</a> » <a href="#" style="color: black;">塑胶行业包装袋解决方案</a></p>

                    <!-- 图片和介绍组成的框 -->
                    <div>
                        <div class="col-lg-3" style="margin-top: 5px; margin-bottom: 50px; border: 1px solid black;"><img src="{{ STATIC_URL }}images/industry_solutions/container_1.jpg" alt="" style="width: 100%;"></div>

                        <div class="col-lg-9" style="margin-top: 5px;">
                            <h2>塑胶行业包装袋解决方案</h2>
                            <p style="margin-bottom: 50px;">
                                深圳市欣昌盛包装制品有限公司是一家致力于工业用包装胶袋,食品包装胶袋研发、生产与销售的专业公司。成立于2002年，位于广东省深圳市坪山新区，东北临惠州市惠阳区,南邻龙岗区葵涌镇地理位置优越越、交通便利，专业为塑胶提供包装袋解决方案。
                                深圳市欣昌盛包装制品有限公司是一家致力于工业用包装胶袋,食品包装胶袋研发、生产与销售的专业公司。成立于2002年，位于广东省深圳市坪山新区，东北临惠州市惠阳区,南邻龙岗区葵涌镇地理位置优越越、交通便利，专业为塑胶提供包装袋解决方案。
                                深圳市欣昌盛包装制品有限公司是一家致力于工业用包装胶袋,食品包装胶袋研发、生产与销售的专业公司。成立于2002年，位于广东省深圳市坪山新区，东北临惠州市惠阳区,南邻龙岗区葵涌镇地理位置优越越、交通便利，专业为塑胶提供包装袋解决方案。
                            </p>
                        </div>
                    </div>
                </div>

                <!-- 当前方案的案例 -->
                <div style="width: 100%; height: 500px; clear: both;">
                    <!-- 当前方案案例抬头 -->
                    <div style="background: #dadada; height: 50px; line-height: 50px; padding-left: 20px; border-bottom: 1px solid gray; margin-bottom: 0">
                        <p style="float: left;">当前方案的案例</p>
                        <a href="#" style="color: black; float: right; padding-right: 20px;">[方案中心]</a>
                    </div>

                    <!-- 当前方案内容，4个盒子 -->
                    <div class="container col-lg-12" style="margin: 0; padding: 0;">
                        <div class="col-lg-3">
                            <img src="{{ STATIC_URL }}images/industry_solutions/sujiao_container_1.jpg" alt="" style="width: 100%;">
                            <p style="margin: 5px 0;"><a href="#">光身自封袋/密封袋</a></p>
                            <p style="margin: 5px 0; font-size: 14px;">PE料制成，厚度3C，加厚的是5C(部分规格有加厚的),适用于装电子零配件、珠宝、服装、说明书等，防水</p>
                        </div>
                        <div class="col-lg-3">
                            <img src="{{ STATIC_URL }}images/industry_solutions/sujiao_container_2.jpg" alt="" style="width: 100%;">
                            <p style="margin: 5px 0;"><a href="#">药片自封袋/拉链袋</a></p>
                            <p style="margin: 5px 0; font-size: 14px;">PE料制成，厚度3C，加厚的是5C(部分规格有加厚的),适用于装电子零配件、珠宝、服装、说明书等，防水</p>
                        </div>
                        <div class="col-lg-3">
                            <img src="{{ STATIC_URL }}images/industry_solutions/sujiao_container_3.jpg" alt="" style="width: 100%;">
                            <p style="margin: 5px 0;"><a href="#">有色自封袋/密实袋/骨袋</a></p>
                            <p style="margin: 5px 0; font-size: 14px;">自封袋（又称为密实袋，由任袋，密封袋，夹链袋，骨袋，英文：Ziplock bags，Reclosable Bag, Zipper</p>
                        </div>
                        <div class="col-lg-3">
                            <img src="{{ STATIC_URL }}images/industry_solutions/sujiao_container_4.jpg" alt="" style="width: 100%;">
                            <p style="margin: 5px 0;"><a href="#">骨袋封口袋</a></p>
                            <p style="margin: 5px 0; font-size: 14px;">骨口袋：骨袋——PE全新料骨袋，密封性卓越、耐酸碱、无毒。作用：防尘、防潮、防掉漏。应用范围：五金、首饰、电子、药材、超市、零食店、茶叶、文具、玩具、印刷、皮具等。用骨[了解详情]</p>
                        </div>
                    </div>
                </div>

                <!-- 欣昌盛资讯 -->
                <!-- 欣昌盛资讯 -->
                <div class="col-lg-12 container">
                    <!-- 当前方案案例抬头 -->
                    <div style="background: #dadada; width: 100%; height: 50px; line-height: 50px; padding-left: 20px; border-bottom: 1px solid gray; margin-bottom: 0">
                        吉福永咨询
                    </div>

                    <!-- 当前方案内容，4个盒子 -->
                    <div style="clear: both;">
                        <!-- left information -->
                        <div class="col-lg-6" style="height: 400px; background: black;"></div>
                        <!-- right information -->
                        <div class="col-lg-6" style="height: 400px; background: pink;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    javascript#}
    <script>
        //自启动函数
        $(function () {
            //点击哪个标题，哪个标题就改变样式
            var title_li = $('#title_ul').children('.dropdown');
            for (var i = 0; i < title_li.length; i++) {
                title_li.eq(i).attr('class', '');
            }
            title_li.eq(1).attr('class', 'active');




            $(".panel-heading").click(function(e){
                /*切换折叠指示图标*/
                $(this).find("span").toggleClass("glyphicon-chevron-down");
                $(this).find("span").toggleClass("glyphicon-chevron-up");
            });
        });

        //swiper 插件
        var swiper = new Swiper('.swiper-container', {
            // 活动块会居中
            centeredSlides: true,
            // 切换效果
            effect: "fade",
            // 循环
            loop: true,
            // Enable lazy loading
            lazy: true,
            // 一页能容纳多少张图片
            slidesPerView: 1,
            // 自动播放
            autoplay: {
                delay: 4000,
                disableOnInteraction: false
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            }
        });
    </script>
{% endblock %}
